.container {
  width: 80%;
  margin: 10rem auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 50px;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 10rem;
  color: #4ECCA3;
}

p {
  font-size: 5rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button#rollBtn {
  font-size: 7rem;
  border: 50px solid gold;
  background-color: orange;
  border-radius: 300px;
  color: white;

  padding: 35px 45px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 9px #999;
}

.button:active {
  transform: translateY(4px);
}

footer {
  margin-top: 1%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
}


@media (min-width: 480px) {
  .container {
    margin: 5rem auto;
  }
}
/* 
@media (min-width: 768px) {
  .container {
    margin: auto;
  }
  button#rollBtn {
    font-size: 4rem;
  }
  h1 {
    font-size: 7rem;
  }
  p {
    margin: auto; 
  }
  img{
    width: 50%;
  }
} */
/* 
@media (min-width: 1024) {
  button#rollBtn {
    font-size: 1rem;
  }
} */
@media (orientation: landscape) and (min-width: 1024px) {
  body {
    flex-direction: row;
  }
  .container {
    margin: 0% auto;
  }
  button#rollBtn {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
  p{
    margin: 0%;
    font-size: 4rem;
  }
  h1{
    font-size: 5rem;
  }
  img {
    width: 5rem;
  }
  footer {
    font-size: 2rem;
  }
}